<div class="department-container p-3">
    <div class="icon">
        <i class="material-icons">
            local_hospital
        </i>
    </div>
    <div class="department-name" [textContent]="department.departmentName"></div>
    <div>
        <button type="button" class="btn btn-primary btn-sm">Open</button>
        <button type="button" class="btn btn-primary btn-sm">Edit</button>
        <button type="button" class="btn btn-primary btn-sm">Delete</button>
    </div>
</div>
