<form [formGroup]="departmetForm" (submit)="onSubmit()">
    <div class="form-group">
        <label for="exampleInputEmail1">Department name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
               formControlName="departmentName"
               placeholder="Department name">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">API key</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="API key"
               formControlName="apiKey">
    </div>
    <div>Department contact person</div>
    <div formGroupName="departmentContactPerson">
        <div class="form-group">
            <label for="contactName">Department contact person name</label>
            <input formControlName="name" type="text" class="form-control" id="contactName"
                   placeholder="Department contact name">
        </div>
        <div class="form-group">
            <label for="contactEmail">Department contact person email</label>
            <input formControlName="email" type="text" class="form-control" id="contactEmail"
                   placeholder="Department contact email">
        </div>

        <div class="form-group">
            <label for="contactPhone">Department contact person phone</label>
            <input formControlName="phone" type="text" class="form-control" id="contactPhone"
                   placeholder="Department contact phone">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Add department</button>
    </div>
</form>