<div class="stepper-container">
  <span *ngFor="let step of steps; let i = index">
    <span [textContent]="step"></span>
    <span [textContent]=" i + 1 === steps.length ? '' : ' > ' "></span>
  </span>
</div>