<app-stepper [steps]="['Departments']"></app-stepper>
<app-search-panel (searchEvent)="searchTodoBeKeyWord($event)"></app-search-panel>
<div class="row">
    <app-department-item *ngFor="let department of departmentsForDisplay"
                         class="col-12 col-md-6 col-lg-3"
                         [department]="department">
    </app-department-item>
</div>


