
<div class="input-group mb-3">
    <input type="text" class="form-control"
           [(ngModel)]="keyWord"
           #searchInput
           autocomplete="off"
           placeholder="Search"
           aria-label="Search">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-primary" type="button" (click)=" navigeteToAddDepartment()">
            Create new department
        </button>
    </div>
</div>