/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  &:not(i) {
    font-family: sans-serif;
  }
}
